body {
    background-color: rgb(31, 31, 31);
}

h1 {
    margin: 0;
}

.container {
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

#hero {
    background-color: rgb(34, 104, 255);
    text-align: center;
}

#hero .container {
    text-align: center;
}

#hero h1 {
    text-transform: uppercase;
    font-size: 42px;
    color: white;
}

#hero h1 span {
    font-size: 80px;
    max-width: unset;
}

.menu-bar{
    background-color: white;
    color: rgb(34, 104, 255);
    height: 30px;
}

.menu-bar .container {
    padding: 0;
}

.menu-bar .left {
    float: left;
}

.menu-bar .right {
    float: right;
}

.menu-bar  * {
    height: 100%;
}

.game-board {
    background-color: rgb(31, 31, 31);
}

.game-board .colours {
    display: flex;
    flex-wrap:wrap;
    gap: 20px 3%;
}

.game-board .colours .colour-square {
    width: 31%;
    height: 200px;
    background-color: brown;
    border-radius: 30px;
}

#game-over {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
}